@import "~bulma/sass/utilities/initial-variables"

// https://color.adobe.com/create/color-wheel/?base=2&rule=Compound&selected=4&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.8,0.5153562361584726,0.12078431372549021,0.6,0.4619510614163493,0.2705882352941177,1,0.3254901960784314,0.050980392156862744,0.3009803921568628,1,0.6933818560952525,0.12078431372549021,0.8,0.30983779883427226&swatchOrder=0,1,2,3,4
// $orange: #FF5B17
// $teal: #4DFFB1
// $green: #1FCC4F
$dirt: #997645
$brown: #CC831F

$orange: hsl(18, 100%, 55%)
$teal: hsl(154, 100%, 65%)
$green: hsl(137, 74%, 46%)

$primary: $orange
$info: $teal
$link: $green

$primary-invert: $white
$info-invert: $black
$link-invert: $white

$roundedness: 5px

@import "~bulma"
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css")

html
  overflow-y: auto
