@import "~bulma/sass/utilities/initial-variables"

$blue: #394EFF
$orange: #FF8352
$grey: #A1A3B2
$green: #5CCC19
$forest: #56B21F

$primary: $blue
$info: $orange
$light: $blue
$dark: $grey

@import "~bulma"
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css")

html
  overflow-y: auto
