@import "~bulma/sass/utilities/initial-variables"

$blue: #006EFF
$red: #FF3119
$grey: #9BA5B2
$buger: #A8CC14
$buger-dark: #91B209

$primary: $blue
$info: $red
$light: $blue
$dark: $grey

@import "~bulma"
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css")
